<!DOCTYPE html>
<html>
<head>
    <title>Juice Vis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="{{ url_for('static', filename='bootstrap-select.css')}}" rel='stylesheet'/>
	<link href="{{ url_for('static', filename='dc.css')}}" rel='stylesheet'/>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap-select.js')}}"></script>
	<script src="//dc-js.github.io/dc.js/js/d3.js"></script>
	<script src="//dc-js.github.io/dc.js/js/crossfilter.js"></script>
	<script src="//dc-js.github.io/dc.js/js/dc.js"></script>

</head>
<body>
	
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
		</button>
		<a class="navbar-brand" href="/">Juice Vis</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/ingredients">Ingredients</a></li>
		<li class="active"><a href="/processbook">Process Book</a></li>
		</ul>
		</div>
	</div>
	</nav>
  
<div class="container">
  <p>In this section I will try to explain how this web app was made. The explanation is brief and step by step. All the files are uploaded in the github repo given below</p>
  <p> </p>
  <h4><b>Steps in the Making</b></h4>
  <p> </p>
  <p> <a href="https://github.com/yedurag/juicevisrepo">The Git Repo</a></p>
  <p> </p>
  <h5><b>Step 1. Initial Planning and Data Study </b></h5>
  <p>	In this step I came up with an initial plan for the project. About two days were spent in studying the data, figuring out the requirements and
		understanding the working of the Nutritionix API. The files given below are the important ones.</p>
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/extras/initialanalysis.py">initialanalysis.py</a> - The first data pull</p>
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/extras/ingredientsanalysis.py">ingredientsanalysis.py</a> - For cleaning the ingredients statement field</p>
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/extras/output1.csv">initialoutput.csv</a> - The first csv file</p>
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/extras/products.csv">products.csv</a> - The cleaned up products csv file</p> 
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/extras/fruits.csv">finalresults.csv</a> - After all the cleaning</p>
	<p> For cleaning the ingredients field, I utlized basic text mining techniques such as text normalization and stemming. </p>
	<p> </p>
	<h5><b>Step 2. Python Flask Phase</b></h5>
	<p>	In this step I used Flask, SQL Alchemy and Postgres to develop a back end system to pull the data and inject it to the front end upon request.
		I used requests library for data pull. The files given below are the important ones. </p>
		
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/app.py">app.py</a> - The main flask app file </p>
	
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/config.py">config.py</a> - My configs for the app locally and in heroku </p>
	
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/manage.py">manage.py</a> - For db migration </p>
	
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/models.py">models.py</a> - My sql alchemy db model </p>
	
	<p> In this phase I heavily relied upon the <a href="https://realpython.com/blog/python/flask-by-example-part-1-project-setup/">Flask by Example</a> 
	tutorial that I did about 6 months back. It is a great tutorial by my favorite python teacher - Michael Herman. I am grateful to him. </p>
	<p> </p>
	<h5><b>Step 3. Front End Phase</b></h5>
	
	<p> By now I had a good understanding of the data and knew how the visualizations should look like. I drew the design on paper.</p>
	
	<p> Once the design was complete, I went in and coded the pages using dc.js, d3.js and crossfilter.js. Bootstrap was also used extensively to beautify the dashboard. </p>
	
	<p> The main js files are given below-</p>
	
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/static/products.js">products.js</a> - The js file for the products page </p>
	<p> <a href="https://github.com/yedurag/juicevisrepo/blob/master/static/ingredients.js">ingredients.js</a> - The js file for the ingredients page </p>
	
	<p> In the end I hosted the app in Heroku. While doing this I incorporated the redis task queue to make tha app fail safe. </p>
	
	<p> Thank you for your time and feedback. I am improving everyday! </p>
	
	<p> Yours, </p>
	
	<p> Yedurag</p>
	
   
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  		


</body>
</html>
